body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    background: #333;
    color: white;
    padding: 15px;
}

.header h1 {
    margin: 0;
}
.header nav {
    margin-top: 10px;
}
.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.header nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
h1, h2 {
    color: #333;
    text-align: center;
}
p {
    text-align: justify;
    line-height: 1.6;
}
nav {
    margin-top: 20px;
    text-align: center;
}
nav a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
nav a:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
}

.footer {
    background: #000000;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.pfooter {

    text-align: center;

}

.col{
    display: flex;
    flex-direction: row;
    margin: 0;

}

.col-1{
    width: 60%;
}

.col-2{
    width: 40%;
    padding-left: 100px;
}

.col-1-1{
    width: 40%;
}

.col-2-2{
    width: 60%;
    padding-left: 80px;
}

